.review-container{
    margin: 10px auto;
   
}
.cheak{
    text-decoration: none;
}
.prosed-btn{
    background: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}