.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top:0;
    width:200px;
}

.order{
   
}
.clear-cart{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}